@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

#inputs-height, #page-heading-margin-top, #remaining-height {
  position: absolute;
  top: 50px;
  left: 10px;
}

#page-heading-margin-top {
  top: 70px;
}

#remaining-height {
  top: 90px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: white;
  background: -o-linear-gradient(right, #2193b0, #6dd5ed  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2193b0, #6dd5ed  ); /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  height: 100vh;
}

input.create-notification {
  background: transparent !important;
  border: none;
  font-size: 28px !important;
  height: 52px;
  line-height: 52px;
  box-shadow: none;
  width: 318px;
  vertical-align: middle;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  letter-spacing: 0.075rem;
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

input.create-notification:hover, input.create-notification:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
}

input.create-notification:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

input.create-notification::-webkit-input-placeholder {
  color: white;
  font-weight: 200;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

input.create-notification:focus::-webkit-input-placeholder{
  opacity: 1;
}

header.navbar {
  background: transparent;
  height: 50px;
  color: white;
}

.inputs {
  text-align: center;
  position: relative;
}

a.submit-notification {
  width: 160px;
  position: relative;
  z-index: 1;
}

div.toast-success {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  background-color: #69E5B2;
  opacity: 0.9;
  font-size: 40px;
  text-align: center;
}

#toast-container {
  position: relative;
}

#toast-container > div {
  margin-left: auto;
  margin-right: auto;
  background-size: 30px;
  width: 600px;
}

#toast-container > div, #toast-container > :hover {
  box-shadow: none;
}

div.device {
  display: inline-block;
}

.heading {
  position: relative;
  top: 0;
  width: 100%;
  height: 35px;
  background: rgba(0,0,0,0.7);
  color: white;
  text-align: center;
}

.heading h4 {
  margin: 0 auto;
  line-height: 35px;
  font-weight: 200;
}

section.content {
  height: calc(100% - 50px);
}

header.splash{
  height: 100%;
  width: 100%;
  background: transparent;
  display: table;
  text-align: center;
  padding-top: 60px;
}

div.splash-inner{
  overflow:hidden;
}

h1.page-heading{
  color: white;
  border:none;
  font-weight: 200;
  font-size: 36px;
}

.page-subheading {
  font-weight: 200;
  line-height: 32px;
}

div.row {
  margin: 0 !important;
}

div.devices {
  width: 65%;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  position: absolute;
  max-width: 900px;
}

div.devices-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.count {
  position: relative;
  float: right;
  font-size: 24px;
  margin-top: 5px;
}

.signup-link {
  color: #FFFFFF;
  text-decoration: none;
  float: right;
  margin-top: 8px;
  margin-left: 25px;
}

.signup-link:hover {
  color: #EB0752;
  text-decoration: none;
}

.navbar-container {
  padding-top: 10px;
}

.small-logo, .full-logo {
  transition: height 0.4s;
  -webkit-transition: height 0.4s; /* Safari */
  -moz-transition: height 0.4s;
  -o-transition: height 0.4s;
}

.small-logo {
  height: 0;
}

.full-logo {
  height: 37px;
}

section.notifications-container {
  text-align: center;
}

.count .notification-circle {
  position: absolute;
  right: -13px;
  top: -7px;
  background-color: #f4065f;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  opacity: 0;
  font-size: 13px;
  text-align: center;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

section.notifications-container section.notifications {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  div.devices {
    width: 75%;
  }
}

@media screen and (max-width: 991px) {
  div.devices {
    width: 85%;
  }

  .small-logo {
    height: 37px;
  }

  .full-logo {
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 848px) {
  div.devices {
    width: 95%;
  }
}

@media screen and (max-width: 760px) {
  #toast-container > div {
    width: 90%;
  }
}